<h1>Coaching#ask</h1>


<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="question!">
  <input type="submit" value="Go on!">
</form>
